

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr;
    gap: 96px 50px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "item1 item2 item3 item4 item5"
      "item6 item6 item6 item6 item6";
      width: 140vh;
      position: center;
      padding: 10vh;
      background-color: rgb(221, 232, 232);
      border: 10vh;

  
    
    }


  
   .item1 { grid-area: item1;

background-color: rgb(122, 54, 158);
grid-column: 2/4;
margin: 20%;
height: 50vh;
width: 20vh;








}


   .item2 {grid-area: item1;
    background-color: rgb(168, 77, 176);
    grid-column: 2/4;
    margin: 30%;
    width: 20svh;
    height: 70vh;
    
    


}


.item3 {grid-area: item1;
    background-color: rgb(210, 115, 223);
    grid-column: 2/4;
    margin: 20%;
    height: 350px;
    width: 20vh;
    


}

.item4 {grid-area: item1;
    background-color: rgb(244, 153, 243);
    grid-column: 2/4;
    margin: 30%;
    width: 20vh;
    height: 70vh;


}

.item5 {grid-area: item1;
    background-color: rgb(243, 178, 244);
    grid-column: 2/4;
    margin: 18%;
    width: 20vh;
    height: 55vh;


}

.item6 {grid-area: item1;
    background-color: rgb(235, 200, 236);
    grid-column: 2/4;
    margin: 5%;


}
  
  .item1 { grid-area: item1; }
  
  .item2 { grid-area: item2; }
  
  .item3 { grid-area: item3; }
  
  .item4 { grid-area: item4; }
  
  .item5 { grid-area: item5; }
  
  .item6 { grid-area: item6; }
  
