

/* chose a clean sans-serif font called Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* Talk about your color here*/

  --col-01:#1A1919;
  --col-02:#807d79; 
  --col-03:#E7E5DF; /**NOT USED**/
  --col-04:#44BBA4;/**NOT USED**/
  --col-05:#d6a25c; 
  --col-06:#f2efe4;
  font-size: 16px;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--col-02);
  color: var(--col-01);
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/* Header */
.header{
  position: sticky;
  top: 0;
  width: 100%;
  background:var(--col-02);
  min-height: 100px;

}
.main-info{
  margin: 50px;
}

.main-info a{ color:(var(--col-01))}

#modeButton{

  position: fixed;
  right: 50px;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--col-01);
  font-size: 60px;
  margin-left: 20px;
  margin-top: 10px;
}
/* Nav menu */
/* made menu sticky so design isn't flat */
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--col-01);
  overflow: hidden;
  margin-top:10px;
  
}

.menu a{
  display: block;
  padding: 30px;
  font-size:16px;
  font-family: 'Montserrat', sans-serif
  text-decoration: none;
  color: var(--col-01);
}

.menu li a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: var(--col-01);
}

.menu li:hover {
  background: var(--col-04);
  background-size: 100% 100%;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #393E41;
	font-weight: bold;
}
.menu li:active {
  transform: translateY(4px);
}

/*bounce effect for links*/
@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
} 
.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  padding: 40px 20px;
}


.hamb-line {
  background: var(--col-01);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  
}

.hamb-line::before,
.hamb-line::after{
  background: var(--col-01);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .1s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 5px;
}

.hamb-line::after{
  top: -5px;
}


.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
  max-height: 100%;
  background:var(--col-02);
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
  background:var(--col-02);
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/* added styles to base template */

/*added border so lay out isn't flat */
section{
background: var(--col-06);
border-radius: 20px;
padding: 20px;
}

/* Newly added responsiveness css to fix menu on smaller screens */

@media (min-width: 320px) and (max-width:768px){

  #modeButton {
    right: 20px;
    top: 125px;
  }
  .logo {margin-bottom:30px; 
  width:100%;}

  .hamb-line {
    margin-left: 30px;
  }
  .hamb {
  margin-left: 30px;
  }
}

@media (min-width: 768px){
  .nav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    background-color: var(--col-02);
    width: fit-content;
}

.menu li{
    float: left;
}

.hamb{
    display: none;
}

}

@media (min-width: 960px) and (max-width: 1280px) {

  #modeButton {
    top: 30px;
  }
}

@media (min-width: 1180px) and (max-width: 1720px) {
  .nav{
    width: 100% !important;
}
}

/* original template css */
section{
    margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}



/* old responsive css do not touch */

@media only screen and (min-width: 320px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }
  .main-menu li{

    padding:20px;
  }
}
/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }
  .main-menu li{

    padding:20px;
  }
}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }
  .main-menu li{

    padding:20px;
  }
}



